node_modules/
.next/
dist/
build/
.DS_Store

installer/windows/electron-shell/build/
installer/windows/electron-shell/build/installer.nsh
installer

.env
.env.*
**/.env
**/.env.*

!**/.env.example
!**/*.env.example

deploy/env/web.env
deploy/env/sync.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*all-gym-vf/supabase/seed.sql
/all-gym-vf/supabase/seed.sql
