# Backend local de ALGYM
ALGYM_BACKEND_URL=http://127.0.0.1:4000

# Reloj biométrico local
DEFAULT_ZK_DEVICE_SN=CN4C232260011
GYM_SYNC_SERVER_URL=http://127.0.0.1:8080
GYM_SYNC_API_TOKEN=TU_TOKEN_INTERNO
