# Backend local de ALGYM
ALGYM_BACKEND_URL=http://127.0.0.1:4000

# Supabase en VPS Hostinger
NEXT_PUBLIC_SUPABASE_URL=http://2.25.212.207:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
SUPABASE_SERVICE_ROLE_KEY=TU_SUPABASE_SERVICE_ROLE_KEY

# Reloj biométrico local
DEFAULT_ZK_DEVICE_SN=CN4C232260011
GYM_SYNC_SERVER_URL=http://127.0.0.1:8080
GYM_SYNC_API_TOKEN=TU_TOKEN_INTERNO

# ExerciseDB
EXERCISEDB_RAPIDAPI_KEY=TU_RAPIDAPI_KEY
EXERCISEDB_RAPIDAPI_HOST=exercisedb.p.rapidapi.com